body  {
  font-family: 'Droid Sans', serif;
  font-size: 16px;
  /*line-height: 160%;*/
  margin-left: auto;
   margin-right: auto;
   /*width: 95%;*/
   background-color: #EFEAE1;
   text-align: center;
}
.ng-scope{
	width: 100%;
  margin-left: auto;
   margin-right: auto;
   padding:0%;
}
tr{

}
th{
  text-align: left;
  padding: 8px 12px;
  background-color: #E0D6C7;

}
td{
  border-bottom: 1px dotted black;
  padding: 8px 12px;
  text-align: left;

}
a{font-weight: bold;}

ul{
margin: 0;
padding: 0;
list-style-type: none;
}
h1, h2{
  text-align: center;
}
img{
  display: block;
    margin-left: auto;
    margin-right: auto
}
.text {
  text-align: center;
}
.ng-scope table{
  font-size: 16px;
  width: 95%;
  border-radius: 7px 7px 3px 3px;
}
select{
  font-size:100%;
}
input {
  font-size: 130%;
  box-sizing:border-box;
   padding:8px;
   border:2px solid #cce;
}
